<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" [routerLink]="['/dashboard']"> Motorius Parking </a>
    <ul  class="navbar-nav mr-auto">
      <li class="nav-item " routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/rooming']"  >Rooming System</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/category']" >Category</a>
      </li>
      <li class="nav-item" routerLinkActive="router-link-active">
        <a class="nav-link " [routerLink]="['/rates']"  >Rates</a>
      </li>

      <li class="nav-item" routerLinkActive="router-link-active">
        <a class="nav-link " [routerLink]="['/parking']"  >Parking</a>
      </li>
      <li class="nav-item" routerLinkActive="router-link-active">
        <a class="nav-link " [routerLink]="['/parkingSlot']"  >Parking Slot</a>
      </li>
      
      <li class="nav-item" routerLinkActive="router-link-active">
        <a class="nav-link " [routerLink]="['/reports']"  >Reports</a>
      </li>
    </ul>

</nav>