<div class="container-fluid">
  <div class="row" >
    <div class="col-md-3 col-sm-6" style="background-color: #2092ed;text-align: center">
      <div class="tile-stats tile-white stat-tile">
        <h3 class="color">2</h3>
        <p class="color">Total Parking Slots</p> <span class="daily-visitors"><canvas width="373" height="55"
            style="display: inline-block; width: 373px; height: 55px; vertical-align: top;"></canvas></span>
      </div>
    </div>
    
    <div class="col-md-3 col-sm-6" style="background-color: #17a2b8;text-align: center">
      <div class="tile-stats tile-white stat-tile">
        <h3 class="color" >0</h3>
        <p class="color">Total Parking</p> <span class="monthly-sales"><canvas width="260" height="55"
            style="display: inline-block; width: 260px; height: 55px; vertical-align: top;"></canvas></span>
      </div>
    </div>

    <div class="col-md-3 col-sm-6" style="background-color: #ffc107;text-align: center">
      <div class="tile-stats tile-white stat-tile">
        <h3 class="color">20</h3>
        <p class="color">Rooming</p> <span class="stock-market"><canvas width="373" height="55"
            style="display: inline-block; width: 373px; height: 55px; vertical-align: top;"></canvas></span>
      </div>
    </div>
    <div class="col-md-3 col-sm-6" style="background-color: #ff4e50;text-align: center">
      <div class="tile-stats tile-white stat-tile">
        <h3 class="color">3</h3>
        <p class="color">Categories</p> <span class="pie-chart"><canvas width="95" height="95"
            style="display: inline-block; width: 95px; height: 95px; vertical-align: top;"></canvas></span>
      </div>
    </div>
  </div>
</div>