<div class="content">
  <div class="row">
      <div class="col-md-12">
          <div class="card">           
              <div class="card-body">
                  <div class="toolbar">
                      <!-- Here you can write extra buttons/actions for the toolbar -->
                      <div class="row">
                          <div class="col-sm-8 padding">
                              <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#responsive-modal"
                                  (click)="showadd();reset(rateForm)">
                                  <i class="fa fa-plus"></i> Add Room
                              </button>
                          </div>
                        
                      </div>
                  </div>

                  <!-- Start Content -->
                  <table class="table" cellspacing="0">
                      <thead class="thead-light">
                          <tr>
                              <th  (click)="sort('id')"> Id<i class="fa fa-sort "></i></th>
                              <th  (click)="sort('rateName')">Rate Name <i class="fa fa-sort"></i></th>
                              <th  (click)="sort('categoryId')"> Category<i class="fa fa-sort"></i></th>
                              <th  (click)="sort('rateType')"> Type<i class="fa fa-sort"></i></th>
                              <th  (click)="sort('ratePrice')"> Rate<i class="fa fa-sort"></i></th>
                              <th  (click)="sort('status')"> Status<i class="fa fa-sort"></i></th>
                              <th></th>


                          </tr>
                      </thead>
                      <tbody>

                          <tr *ngFor="let rate of rates trackBy:trackby.rate;">
                              <td>{{ rate.id }}</td>
                              <td>{{ rate.rateName }}</td>
                              <td>{{ rate.name }}</td>
                              <td *ngIf="rate.rateTypeId == 0"><span class="text-info">Hourly</span></td>
                              <td *ngIf="rate.rateTypeId == 1"><span class="text-info">Fixed</span></td>


                              <td>{{ rate.ratePrice }}</td>
                              <td *ngIf="rate.status == 0"><span class="text-info">In Active</span></td>
                              <td *ngIf="rate.status == 1"><span class="text-info">Active</span></td>
                              
                              <td>
                                  <button type="button" class="btn btn-warning btn-link btn-icon btn-sm edit"
                                      data-toggle="modal" data-target="#responsive-modal" (click)="editshow(rate)">
                                      <i class="fa fa-edit"></i>
                                  </button>
                                  &nbsp;
                                  <button type="button" class="btn btn-danger btn-link btn-icon btn-sm remove"
                                      data-toggle="tooltip" data-original-title="Delete" (click)="delete(rate)">
                                      <i class="fa fa-times"></i>
                                  </button>
                              </td>
                          </tr>
                      </tbody>
                    
                  </table>
             
                      <div class="row">
                          <div class="col-sm-12 text-info">
                              TotalRecords : <span> {{ totalRecords }}</span>
                          </div>

                          <div class="col-sm-12">
                              <!-- <pagination class="pagination float-right" [totalItems]="totalRecords" [pageSize]="pageSize"
                                  (pageChanged)="pageChanged($event)"></pagination> -->
                          </div>
                      </div>
                
                  <!--
                ==============================================================
              -->
                  <!-- ===========================Modal============================ -->
                  <!--
                ==============================================================
              -->



                  <!-- Classic Modal -->
                  <div class="modal fade" id="responsive-modal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel"
                      aria-hidden="true" data-backdrop="static">
                      <div class="modal-dialog">
                          <div class="modal-content">
                              <div class="modal-header justify-content-center">
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <i class="nc-icon nc-simple-remove"></i>
                                  </button>
                                  <h4 class="title title-up" *ngIf="editMode">Add </h4>
                                  <h4 class="title title-up" *ngIf="!editMode">Edit </h4>
                              </div>
                              <form #rateForm="ngForm" >
                                  <div class="modal-body">
                                      <div class="container">
                                          <div class="row">
                                              <div class="form-group col-sm" [class.has-error]="rateName.invalid && rateName.touched"
                                                  [class.has-success]="rateName.valid">
                                                  <label for="rateName" class="control-label ">Rate Name</label>
                                                  <input 
                                                  OnlyNumber="true"
                                                  autocomplete="off"
                                                  type="text" class="form-control" name="rateName"
                                                      [(ngModel)]="rate.rateName" #rateName="ngModel" required />
                                                 
                                              </div>
                                          </div>

                                          <div class="row">
                                            <div class="form-group col-sm" [class.has-error]="ratePrice.invalid && ratePrice.touched"
                                                [class.has-success]="ratePrice.valid">
                                                <label for="ratePrice" class="control-label ">Rate Price</label>
                                                <input 
                                                type="number"
                                                autocomplete="off"
                                                type="text" class="form-control" name="ratePrice"
                                                    [(ngModel)]="rate.ratePrice" #ratePrice="ngModel" required />
                                               
                                            </div>
                                        </div>

                                        <div class="row">


                                            <div class="form-group col-sm">
                                                <label for="categoryId" class="control-label ">Category</label>
                                                <select (change)="selectChangeCategory($event.target.value)" [(ngModel)]="categoryId" class="form-control">
                                                    <option *ngFor="let c of categories" [value]="c.id">{{c.name}}</option>
                                                  </select>
                            
                                            </div>

                                          </div>


                                          <div class="row">


                                            <div class="form-group col-sm">
                                                <label for="ratePrice" class="control-label ">Status</label>
                                                  <select class="form-control" name="status" [(ngModel)]="rate.status">
                                                    <option [value]="1" [selected]="rate.status ==1">Active</option>
                                                    <option [value]="0" [selected]="rate.status ==0">In Active</option>
                                                 </select>
                            
                                            </div>

                                          </div>
                                          
 
                                          <div class="row">


                                            <div class="form-group col-sm">
                                                <label for="rateTypeId" class="control-label ">Type</label>
                                                <select class="form-control" (change)="selectChangeType($event.target.value)"  name="rateTypeId" [(ngModel)]="rate.rateTypeId">
                                                    <option [value]="1" [selected]="rate.rateTypeId ==1">Hourly</option>
                                                    <option [value]= "0" [selected]="rate.rateTypeId ==0">Fixed</option>
                                                 </select>
                            
                                            </div>

                                          </div>

                                      </div>
                                  </div>
                                  <div class="modal-footer">
                                      <div class="left-side">
                                          <button type="button" class="btn btn-default " data-dismiss="modal">
                                                Close
                                          </button>
                                      </div>
                                      <div class="divider"></div>
                                      <div class="right-side">
                                          <button *ngIf="editMode" type="button" class="btn btn-success"
                                              data-dismiss="modal" [disabled]="rateForm.invalid" (click)="add(rateForm)">
                                               Save
                                          </button>

                                          <button *ngIf="!editMode" type="button" class="btn btn-success "
                                              data-dismiss="modal" [disabled]="rateForm.invalid" (click)="edit(rate)">
                                             Save
                                          </button>
                                      </div>
                                  </div>
                              </form>
                          </div>
                      </div>
                  </div>
                  <!-- End Modal -->

        

                  <!-- End Content -->
              </div>
              <!-- end content -->
          </div>
          <!-- end card -->
      </div>
      <!-- end col-md-12 -->
  </div>
  <!-- end row -->
</div>