.padding{
    padding-bottom: 50px;
    }
    .content{
        margin: auto;
        width: 98%;
    }
    thead th {
        background-color: #8a9196;
        color: white;
        cursor: pointer;
    }
    
    